<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Files</title>
  </head>
  <body>
    <h1>All files in <%- locals.folder.name %></h1>
    <% locals.files.forEach((file) => { %>
    <p><%- file.file %></p>
    <p><%- file.size %> bytes</p>
    <p>Uploaded at <%- file.uploadTime %></p>
    <form action="./<%- file.id %>/download" method="post">
      <button type="submit">Download file</button>
    </form>
    <% }) %>
    <form action="" method="post" enctype="multipart/form-data">
      <input type="file" name="file" id="file" />
      <button type="submit">Upload</button>
    </form>
  </body>
</html>
